<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th = "https://www.thymeleaf.org/">-->

<!--<head th:fragment="header">-->
<!--  <meta charset="utf-8">-->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--  <meta name="description" content="">-->
<!--  <meta name="author" content="">-->

<!--  <title th:text = "${title}"></title>-->

<!--  &lt;!&ndash; Custom fonts for this template&ndash;&gt;-->
<!--  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">-->
<!--  <link-->
<!--          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"-->
<!--          rel="stylesheet">-->

<!--  &lt;!&ndash; Custom styles for this template&ndash;&gt;-->
<!--  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">-->
<!--  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->
<!--  <link-->
<!--          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"-->
<!--          rel="stylesheet">-->

<!--  &lt;!&ndash; Custom styles for this template&ndash;&gt;-->
<!--  <link href="css/sb-admin-2.min.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; Sidebar &ndash;&gt;-->
<!--<ul th:fragment="sidebar" class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar"  style="background-color: #6bbea4; background-image: linear-gradient(180deg, #fdf3d8 10%, #6bbea4 100%); background-size: cover;">-->

<!--  &lt;!&ndash; Sidebar - Brand &ndash;&gt;-->
<!--  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="Responsable.html">-->
<!--    <div class="sidebar-brand-icon rotate-n-15">-->
<!--      <i class="fas fa-laugh-wink" style="color: black;"></i>-->
<!--    </div>-->
<!--    <div class="sidebar-brand-text mx-3" style="color: black;">Enseignant</div>-->
<!--  </a>-->


<!--  &lt;!&ndash; Divider &ndash;&gt;-->
<!--  <hr class="sidebar-divider my-0">-->

<!--  &lt;!&ndash; Nav Item - Dashboard &ndash;&gt;-->
<!--&lt;!&ndash;  href="GestionDepartement.html"&ndash;&gt;-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link"  th:href="@{/Demande}">-->
<!--      <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>-->
<!--      <span style="color: black;">Ajouter besoin</span>-->
<!--    </a>-->
<!--  </li>-->



<!--  &lt;!&ndash; Divider &ndash;&gt;-->
<!--  <hr class="sidebar-divider" style="background-color: black;">-->


<!--  &lt;!&ndash; Heading &ndash;&gt;-->


<!--  &lt;!&ndash; Nav Item - Pages Collapse Menu &ndash;&gt;-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="GestionDepartement.html" th:href="@{/signaler-panne}">-->
<!--      <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>-->
<!--      <span style="color: black;">Signaler Pannes</span>-->
<!--    </a>-->
<!--  </li>-->
<!--&lt;!&ndash;  <hr class="sidebar-divider" style="background-color: black;">&ndash;&gt;-->
<!--&lt;!&ndash;  <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="nav-link" href="products.html" th:href = "@{/Demande}">&ndash;&gt;-->
<!--&lt;!&ndash;      <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>&ndash;&gt;-->
<!--&lt;!&ndash;      <span style="color: black;">les demandes</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--&lt;!&ndash;  </li>&ndash;&gt;-->

<!--  <hr class="sidebar-divider" style="background-color: black;">-->
<!--  <li class="nav-item" style="color: black;">-->
<!--    <a class="nav-link"  th:href="@{/orders}">-->
<!--      <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>-->
<!--      <span style="color: black;">Ordinateurs</span>-->
<!--    </a>-->
<!--  </li>-->
<!--  <hr class="sidebar-divider" style="background-color: black;">-->
<!--  <li class="nav-item" style="color: black;">-->
<!--    <a class="nav-link"   th:href="@{/orders}">-->
<!--      <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>-->
<!--      <span style="color: black;">Imprimantes</span>-->
<!--    </a>-->
<!--  </li>-->

<!--  <hr class="sidebar-divider" style="background-color: black;">-->
<!--  <li class="nav-item" >-->
<!--    <a class="nav-link"  th:href="@{/orders}">-->
<!--      <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>-->
<!--      <span style="color: black;">Constats</span>-->
<!--    </a>-->
<!--  </li>-->
<!--  <hr class="sidebar-divider" style="background-color: black;">-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link"   th:href="@{/orders}">-->
<!--      <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>-->
<!--      <span style="color: black;">Techniciens</span>-->
<!--    </a>-->
<!--  </li>-->




<!--  &lt;!&ndash; Divider &ndash;&gt;-->
<!--  <hr class="sidebar-divider" style="background-color: black;">-->





<!--  &lt;!&ndash; Divider &ndash;&gt;-->
<!--  <hr class="sidebar-divider d-none d-md-block" style="color: black;">-->

<!--  &lt;!&ndash; Sidebar Toggler (Sidebar) &ndash;&gt;-->
<!--  <div class="text-center d-none d-md-inline">-->
<!--    <button class="rounded-circle border-0" id="sidebarToggle"></button>-->
<!--  </div>-->

<!--</ul>-->
<!--&lt;!&ndash; Topbar &ndash;&gt;-->
<!--<nav th:fragment="top-navbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">-->

<!--  &lt;!&ndash; Sidebar Toggle (Topbar) &ndash;&gt;-->
<!--  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">-->
<!--    <i class="fa fa-bars" ></i>-->
<!--  </button>-->

<!--  &lt;!&ndash; Topbar Search &ndash;&gt;-->
<!--  <form-->
<!--          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">-->
<!--    <div class="input-group">-->
<!--      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."-->
<!--             aria-label="Search" aria-describedby="basic-addon2">-->
<!--      <div class="input-group-append">-->
<!--        <button class="btn " type="button" style="background-color: #6bbea4; background-image: linear-gradient(180deg, #fdf3d8 10%, #6bbea4 100%); background-size: cover;">-->
<!--          <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->

<!--  &lt;!&ndash; Topbar Navbar &ndash;&gt;-->
<!--  <ul class="navbar-nav ml-auto">-->

<!--    &lt;!&ndash; Nav Item - Search Dropdown (Visible Only XS) &ndash;&gt;-->
<!--    <li class="nav-item dropdown no-arrow d-sm-none">-->
<!--      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"-->
<!--         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--        <i class="fas fa-search fa-fw"></i>-->
<!--      </a>-->
<!--      &lt;!&ndash; Dropdown - Messages &ndash;&gt;-->
<!--      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated&#45;&#45;grow-in"-->
<!--           aria-labelledby="searchDropdown">-->
<!--        <form class="form-inline mr-auto w-100 navbar-search">-->
<!--          <div class="input-group">-->
<!--            <input type="text" class="form-control bg-light border-0 small"-->
<!--                   placeholder="Search for..." aria-label="Search"-->
<!--                   aria-describedby="basic-addon2">-->
<!--            <div class="input-group-append">-->
<!--              <button class="btn btn-primary" type="button">-->
<!--                <i class="fas fa-search fa-sm"></i>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </li>-->

<!--    &lt;!&ndash; Nav Item - Alerts &ndash;&gt;-->
<!--    <li class="nav-item dropdown no-arrow mx-1">-->
<!--      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"-->
<!--         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--        <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>-->
<!--        &lt;!&ndash; Counter - Alerts &ndash;&gt;-->
<!--        <span class="badge badge-danger badge-counter">3+</span>-->
<!--      </a>-->
<!--      &lt;!&ndash; Dropdown - Alerts &ndash;&gt;-->
<!--      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
<!--           aria-labelledby="alertsDropdown">-->
<!--        <h6 style="background-color: #6bbea4; background-image: linear-gradient(180deg, #fdf3d8 10%, #6bbea4 100%); background-size: cover; display: block; padding: 0.5rem 1.5rem; margin-bottom: 0; font-size: 0.875rem; color: black; white-space: nowrap;">-->
<!--          Alerts Center-->
<!--        </h6>-->

<!--        <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--          <div class="mr-3">-->
<!--            <div class="icon-circle bg-primary">-->
<!--              <i class="fas fa-file-alt text-white"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div>-->
<!--            <div class="small text-gray-500">December 12, 2019</div>-->
<!--            <span class="font-weight-bold">A new monthly report is ready to download!</span>-->
<!--          </div>-->
<!--        </a>-->
<!--        <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--          <div class="mr-3">-->
<!--            <div class="icon-circle bg-success">-->
<!--              <i class="fas fa-donate text-white"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div>-->
<!--            <div class="small text-gray-500">December 7, 2019</div>-->
<!--            $290.29 has been deposited into your account!-->
<!--          </div>-->
<!--        </a>-->
<!--        <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--          <div class="mr-3">-->
<!--            <div class="icon-circle bg-warning">-->
<!--              <i class="fas fa-exclamation-triangle text-white"></i>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div>-->
<!--            <div class="small text-gray-500">December 2, 2019</div>-->
<!--            Spending Alert: We've noticed unusually high spending for your account.-->
<!--          </div>-->
<!--        </a>-->
<!--        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>-->
<!--      </div>-->
<!--    </li>-->

<!--    &lt;!&ndash; Nav Item - Messages &ndash;&gt;-->
<!--    <li class="nav-item dropdown no-arrow mx-1">-->
<!--      <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"-->
<!--         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--        <i class="fas fa-fw fa-envelope-open-text" style="color: black;"></i>-->
<!--        &lt;!&ndash; Counter - Messages &ndash;&gt;-->
<!--        <span class="badge badge-danger badge-counter">7</span>-->
<!--      </a>-->
<!--      &lt;!&ndash; Dropdown - Messages &ndash;&gt;-->
<!--      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
<!--           aria-labelledby="messagesDropdown">-->
<!--        <h6 style="background-color: #6bbea4; background-image: linear-gradient(180deg, #fdf3d8 10%, #6bbea4 100%); background-size: cover; display: block; padding: 0.5rem 1.5rem; margin-bottom: 0; font-size: 0.875rem; color: black; white-space: nowrap;">-->
<!--          Message Center-->
<!--        </h6>-->
<!--        <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--          <div class="dropdown-list-image mr-3">-->
<!--            <img class="rounded-circle" src="img/undraw_profile_1.svg"-->
<!--                 alt="...">-->
<!--            <div class="status-indicator bg-success"></div>-->
<!--          </div>-->
<!--          <div class="font-weight-bold">-->
<!--            <div class="text-truncate">Hi there! I am wondering if you can help me with a-->
<!--              problem I've been having.</div>-->
<!--            <div class="small text-gray-500">Emily Fowler · 58m</div>-->
<!--          </div>-->
<!--        </a>-->
<!--        <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--          <div class="dropdown-list-image mr-3">-->
<!--            <img class="rounded-circle" src="img/undraw_profile_2.svg"-->
<!--                 alt="...">-->
<!--            <div class="status-indicator"></div>-->
<!--          </div>-->
<!--          <div>-->
<!--            <div class="text-truncate">I have the photos that you ordered last month, how-->
<!--              would you like them sent to you?</div>-->
<!--            <div class="small text-gray-500">Jae Chun · 1d</div>-->
<!--          </div>-->
<!--        </a>-->
<!--        <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--          <div class="dropdown-list-image mr-3">-->
<!--            <img class="rounded-circle" src="img/undraw_profile_3.svg"-->
<!--                 alt="...">-->
<!--            <div class="status-indicator bg-warning"></div>-->
<!--          </div>-->
<!--          <div>-->
<!--            <div class="text-truncate">Last month's report looks great, I am very happy with-->
<!--              the progress so far, keep up the good work!</div>-->
<!--            <div class="small text-gray-500">Morgan Alvarez · 2d</div>-->
<!--          </div>-->
<!--        </a>-->
<!--        <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--          <div class="dropdown-list-image mr-3">-->
<!--            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"-->
<!--                 alt="...">-->
<!--            <div class="status-indicator bg-success"></div>-->
<!--          </div>-->
<!--          <div>-->
<!--            <div class="text-truncate">Am I a good boy? The reason I ask is because someone-->
<!--              told me that people say this to all dogs, even if they aren't good...</div>-->
<!--            <div class="small text-gray-500">Chicken the Dog · 2w</div>-->
<!--          </div>-->
<!--        </a>-->
<!--        <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>-->
<!--      </div>-->
<!--    </li>-->

<!--    <div class="topbar-divider d-none d-sm-block"></div>-->

<!--    &lt;!&ndash; Nav Item - User Information &ndash;&gt;-->
<!--    <li class="nav-item dropdown no-arrow">-->
<!--      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"-->
<!--         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>-->
<!--        <img class="img-profile rounded-circle"-->
<!--             src="img/undraw_profile.svg">-->
<!--      </a>-->
<!--      &lt;!&ndash; Dropdown - User Information &ndash;&gt;-->
<!--      <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
<!--           aria-labelledby="userDropdown">-->
<!--        <a class="dropdown-item" href="#">-->
<!--          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--          Profile-->
<!--        </a>-->
<!--        <a class="dropdown-item" href="#">-->
<!--          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--          Settings-->
<!--        </a>-->
<!--        <a class="dropdown-item" href="#">-->
<!--          <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--          Activity Log-->
<!--        </a>-->
<!--        <div class="dropdown-divider"></div>-->
<!--        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">-->
<!--          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--          Logout-->
<!--        </a>-->
<!--      </div>-->
<!--    </li>-->

<!--  </ul>-->

<!--</nav>-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<footer th:fragment="footer" class="sticky-footer bg-white">-->
<!--  <div class="container my-auto">-->
<!--    <div class="copyright text-center my-auto">-->
<!--      <span>Project SE</span>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
<!--&lt;!&ndash; End of Footer &ndash;&gt;-->
<!--&lt;!&ndash; Scroll to Top Button&ndash;&gt;-->
<!--<a th:fragment="scroll" class="scroll-to-top rounded" href="#page-top">-->
<!--  <i class="fas fa-angle-up"></i>-->
<!--</a>-->
<!--<div th:fragment="script">-->

<!--  &lt;!&ndash; Bootstrap core JavaScript&ndash;&gt;-->
<!--  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>-->
<!--  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>-->

<!--  &lt;!&ndash; Core plugin JavaScript&ndash;&gt;-->
<!--  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>-->

<!--  &lt;!&ndash; Custom scripts for all pages&ndash;&gt;-->
<!--  <script th:src="@{/js/sb-admin-2.min.js}"></script>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:fragment="header">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title th:text = "${title}"></title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
<!-- Sidebar -->
<ul th:fragment="sidebar" class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar"  style="background-color: #6bbea4; background-image: linear-gradient(180deg, #fdf3d8 10%, #6bbea4 100%); background-size: cover;">



  <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/index}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink" style="color: black;"></i>
    </div>
    <div class="sidebar-brand-text mx-3" style="color: black;">Enseignant</div>
  </a>


  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link"  th:href="@{/Demande}">
      <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>
      <span style="color: black;">Ajouter besoin</span>
    </a>
  </li>



  <!-- Divider -->
  <hr class="sidebar-divider" style="background-color: black;">


  <!-- Heading -->


  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="GestionDepartement.html" th:href="@{/signaler-panne}">
      <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>
      <span style="color: black;">Signaler Pannes</span>
    </a>
  </li>

  <!-- Divider -->
  <!-- Divider -->
  <hr class="sidebar-divider" style="background-color: black;">





  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" style="color: black;">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- Topbar -->
<nav th:fragment="top-navbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars" ></i>
  </button>

  <!-- Topbar Search -->


  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">



    <!-- Nav Item - Alerts -->


    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" id="messagesDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:href="@{/BesoinsNotif}">
        <span style="color: black;">Notifications</span>
        <i class="fas fa-fw fa-envelope-open-text" style="color: black;"></i>

      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
           aria-labelledby="messagesDropdown">
        <h6 style="background-color: #6bbea4; background-image: linear-gradient(180deg, #fdf3d8 10%, #6bbea4 100%); background-size: cover; display: block; padding: 0.5rem 1.5rem; margin-bottom: 0; font-size: 0.875rem; color: black; white-space: nowrap;">
          Besoins
        </h6>
        <a class="dropdown-item d-flex align-items-center" >
          <div class="font-weight-bold">
            <div class="text-truncate"> Ikram
            </div>
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" >
          <div class="font-weight-bold">
            <div class="text-truncate"> Hanane
            </div>
          </div>
        </a>

        <a class="dropdown-item text-center small text-gray-500" >Voir tous les Besoins</a>
      </div>
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" th:href="@{/logout}" >
        <span style="color: black;">Logout</span>
        <i class="fas fa-laugh-wink" style="color: black;"></i>
      </a>

    </li>

  </ul>

</nav>
<!-- Footer -->
<footer th:fragment="footer" class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Project Gestion Ressources</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->
<!-- Scroll to Top Button-->
<a th:fragment="scroll" class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<div th:fragment="script">

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>
</div>
</body>
</html>