
<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:fragment="header">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title th:text = "${title}"></title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
<!-- Sidebar -->
<ul th:fragment="sidebar" class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar"  style="background-color: #6bbea4; background-image: linear-gradient(180deg, #fdf3d8 10%, #6bbea4 100%); background-size: cover;">



  <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/index}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink" style="color: black;"></i>
    </div>
    <div class="sidebar-brand-text mx-3" style="color: black;">Fournisseur</div>
  </a>


  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link"  th:href="@{/ListeAppelOffreFour}">
      <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>
      <span style="color: black;">Consuler Appels Offres</span>
    </a>
  </li>
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link"  th:href="@{/Proposition}">
      <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>
      <span style="color: black;">Mes proposition</span>
    </a>
  </li>

  <!-- Divider -->
  <!-- Divider -->
  <hr class="sidebar-divider" style="background-color: black;">





  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" style="color: black;">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- Topbar -->
<nav th:fragment="top-navbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars" ></i>
  </button>

  <!-- Topbar Search -->


  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">



    <!-- Nav Item - Alerts -->


    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" id="messagesDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:href="@{/BesoinsNotif}">
        <span style="color: black;">Notifications</span>
        <i class="fas fa-fw fa-envelope-open-text" style="color: black;"></i>

      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
           aria-labelledby="messagesDropdown">
        <h6 style="background-color: #6bbea4; background-image: linear-gradient(180deg, #fdf3d8 10%, #6bbea4 100%); background-size: cover; display: block; padding: 0.5rem 1.5rem; margin-bottom: 0; font-size: 0.875rem; color: black; white-space: nowrap;">
          Besoins
        </h6>
        <a class="dropdown-item d-flex align-items-center" >
          <div class="font-weight-bold">
            <div class="text-truncate"> Hanane
            </div>
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" >
          <div class="font-weight-bold">
            <div class="text-truncate"> Ikram
            </div>
          </div>
        </a>

        <a class="dropdown-item text-center small text-gray-500" >Voir tous les Besoins</a>
      </div>
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" th:href="@{/logout}" >
        <span style="color: black;">Logout</span>
        <i class="fas fa-laugh-wink" style="color: black;"></i>
      </a>

    </li>

  </ul>

</nav>
<!-- Footer -->
<footer th:fragment="footer" class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Project Gestion Ressources</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->
<!-- Scroll to Top Button-->
<a th:fragment="scroll" class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<div th:fragment="script">

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>
</div>
</body>
</html>